/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

/* Style Guide */
:root {
  --h1-font: 3rem;
  --h2-font: 2.4rem;
  --h3-font: 1.8rem;
  --h4-font: 1.6rem;

  --red-color: #e50914;
  --black-color: #020403;
  --white-color: #ffffff;
  --grey-color: rgb(20, 20, 20);
  --orange-color: #faa300;
}

/* General Styles */
.button-danger {
  font-size: var(--h3-font);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: var(--red-color);
  color: var(--white-color);
}

.button-dark {
  font-size: var(--h3-font);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: var(--grey-color);
  color: var(--white-color);
}

/* Navbar Styles */
nav {
  background-color: var(--grey-color);
  color: var(--white-color);
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  font-size: var(--h4-font);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.navbar-brand {
  font-size: var(--h3-font);
  font-weight: bold;
  color: var(--red-color);
  border: 2px solid var(--red-color);
  padding: 0.5rem;
}

.navbar-link {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
}

.navbar-button {
  font-size: var(--h4-font);
  border-style: none;
  background-color: var(--red-color);
  padding: 0.5rem 1.5rem;
  margin-left: 2.5rem;
  border-radius: 0.5rem;
  color: var(--white-color);
}

/* Hero Styles */
.hero-section {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  color: var(--white-color);
  font-size: var(--h3-font);
  font-weight: medium;
  padding-top: 8rem;
}

.hero {
  width: 80%;
  margin: auto;
}

.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  gap: 1.5rem;
}

.hero-writer {
  font-size: var(--h4-font);
}

.hero-metadata {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
}

.hero-icon {
  color: var(--orange-color);
}

.hero-title {
  font-size: var(--h1-font);
  font-weight: bold;
}

.hero-desc {
  display: flex;
  width: 40%;
}

.hero-button {
  display: flex;
  gap: 2rem;
}

/* Content Styles */
.content-section {
  background-color: var(--black-color);
  color: var(--white-color);
}

.content {
  width: 80%;
  margin: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-trending {
  margin-top: 5rem;
  font-size: var(--h3-font);
  font-weight: 600;
  text-transform: uppercase;
}

.content-button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content-movies {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.content-movie-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.movie-poster {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.movie-poster:hover {
  opacity: 0.8;
}

.movie-title {
  font-size: var(--h4-font);
  font-weight: 600;
  width: 300px;
}

.movie-metadata {
  font-size: var(--h4-font);
  margin-bottom: 1rem;
}

.content-load {
  font-size: var(--h4-font);
  font-weight: 600;
  color: var(--red-color);
  text-align: end;
  margin-bottom: 2rem;
}

/* Coming Style */
.coming-section {
  background-color: var(--black-color);
  color: var(--white-color);
}

.coming {
  width: 80%;
  margin: auto;
  font-size: var(--h3-font);
}

.coming-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.coming-title {
  margin-top: 5rem;
  font-size: var(--h3-font);
  font-weight: 600;
  text-transform: uppercase;
}

.coming-movies {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.coming-movies-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.coming-detail-poster {
  width: 300px;
  height: 438px;
  object-fit: cover;
}

.coming-detail-poster:hover {
  opacity: 0.8;
}

.coming-detail-title {
  font-weight: 600;
}

.coming-detail-metadata {
  padding-bottom: 10rem;
}

/* Footer Style */
footer {
  background-color: var(--grey-color);
  color: var(--white-color);
  padding: 6rem 0;
}

.footer {
  width: 80%;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-brand {
  font-size: var(--h3-font);
  font-weight: bold;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  padding: 0.5rem;
}

.footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5rem;
  font-size: var(--h3-font);
}

.footer-socmed {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.footer-detail-info {
  display: flex;
  flex-direction: column;
  font-size: var(--h3-font);
  justify-content: space-between;
  gap: 1rem;
}

.footer-gmail {
  display: flex;
  font-size: var(--h3-font);
}

.footer-phone {
  display: flex;
  flex-direction: row;
  font-size: var(--h3-font);
}

.footer-copyright {
  font-size: var(--h4-font);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
